.notice{
    background-color: #FFF3D0;
    background-image: url('/notice.JPG');
    height: 585px;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;
    .text{
        width: 800px;
        margin: auto;
        padding-top: 10px;;
    }
}