.background{
    background-image: url('/main.JPG');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    background-color: #FFF0F2;
    .text{
        width: 800px;
        margin: auto;
        padding-top: 10px;;
    }
}