.job{
    background-image: url('/jobs.JPG');
    height: 585px;
    background-color: #FFCD4A;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    margin: auto;
    .text{
        width: 800px;
        margin: auto;
        padding-top: 10px;;
    }
}